.Header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Header__title {
  font-size: 1.6rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.Header__logo {
  height: 80px;
  position: absolute;
  top: 6rem;
  left: 28rem;
}

.Header__logo--spin-clockwise {
  animation: Header__logo--spin-clockwise infinite 20s linear;
}

.Header__logo--spin-counterclockwise {
  animation: Header__logo--spin-counterclockwise infinite 20s linear;
}

@keyframes Header__logo--spin-clockwise {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes Header__logo--spin-counterclockwise {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}
